# Python virtual environment
promptcache/

# DVC local cache (important!)
.dvc/cache

/data
# Python cache files
__pycache__/
*.pyc

# API key
.env

# Ignore large binary and data files
*.bin
documents.json